.container {
    max-width: 95%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: row;
}

/* Item */
.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.item {
    border-radius: 20px;
    height: 100px;
    margin-bottom: 20px;
}

.item img {
    float: left;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 20px 0 0 20px;
    margin-right: 20px;
}

.item .body-1, .item .body-2 {
    margin: 0;
    padding-top: 10px;
}

.item button {
    float: right;
    margin: 20px !important;
}

/* Bill */
.bill {
    border-radius: 20px;
    margin-left: 20px;
}

.bill p {
    margin: 20px;
}

.bill .body-1 {
    padding: 5px 50px;
}

.bill button {
    width: 100%;
    border-radius: 0 0 20px 20px;
}

hr {
    margin: 0 20px;
}

/* Modal */
#modal {
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    padding-top: 120px;
    display: none;
}

.modal-content {
    max-width: 25%;
    margin: auto;
    border-radius: 25px;
    text-align: center;
}

.modal-content p {
    padding-top: 20px;
    margin-bottom: 20px;
}

.modal-content button {
    margin: 20px;
}

.update-box p{
    margin: 20px;
    display: inline;
}

.update-box i {
    cursor: pointer;
}